#
# Default project configuration. This file setup cofiguration of application and its extensions.
#
# extensions:
#  translation: Kdyby\Translation extension
#  console: Kdyby\Console extension
#  migrations: Nextras\Migrations extension
#  orm: Nextras\Orm extension
#
# translation: Default configuration for Kdyby\Transaltion. Czech lanaguage is used for default
#  and for fallback.
# migrations: Configuration for Migrations, where SQL scripts are stored and which DB driver to use.
# orm: Configuration for Nextras\ORM, setting up ORM Model class.
# php:
# application:
# session:
# tracy: Setting up Nextras\Dbal panel and Nextras\MailPanel
# services: Register of base services.
# includes: Include of other configuration files.
#

extensions:
	translation: Kdyby\Translation\DI\TranslationExtension
	console: Kdyby\Console\DI\ConsoleExtension
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
	orm: Nextras\Orm\Bridges\NetteDI\OrmExtension

translation:
	default: cs
	fallback: [cs]

migrations:
	dir: %appDir%/../migrations
	driver: mysql
	dbal: nextras

orm:
	model: App\Model\Orm

php:
	date.timezone: Europe/Prague

application:
	mapping:
		*: App\*Module\Presenter\*Presenter

session:
	expiration: 7 days

tracy:
	bar:
		- Nextras\Dbal\Bridges\NetteTracy\ConnectionPanel
		- Nextras\MailPanel\MailPanel(%tempDir%/mail-panel-latte)

services:
	router: App\RouterFactory::createRouter
	- Nette\Caching\Cache
	- Nextras\Dbal\Connection(%connection%)

includes:
	- ../modules/front/config.neon
