#
# Example configuration file of local environment. This file configures local
# environemnt of application - database and mail service.
#
# parameters:
#	connection: Connection information for Nextras\Dbal.
#	appspace: Application namespace for session separation.
# services:
#	security.userStorate: Application of appspace parameter.
#	nette.mailer: Implementation of mailer service. In development Nextras MailPanel is used by default.
#

parameters:
	connection:
		driver: mysqli
		host: localhost
		username: root
		password: ""
		database: test
		connectionTz: auto-offset
	appspace: "sandbox-z"

services:
	security.userStorage:
		setup:
			- setNamespace(%appspace%)
	nette.mailer:
		class: Nette\Mail\IMailer
		factory: Nextras\MailPanel\FileMailer(%tempDir%/mail-panel-mails)